*/html/
build/
target/
*/tests/
*/keep/
*.[oa]
*~
*.aux
*.log
*.lot
*.lol
*.lof
*.out
*.blg
*.pdf
*.toc
*.bbl
*.class
lib/
dist/
doc/javatex/
doc/jhtml/
doc/tex/crayola.sty
doc/tex/tcode.sty
doc/tex/tcode.perl
doc/tex/ref.bib
doc/tex/umontreal/
#source/umontreal/iro/lecuyer/xmlbind/params/
#source/umontreal/iro/lecuyer/contactcenters/params/
#source/umontreal/iro/lecuyer/contactcenters/msk/params/
#source/umontreal/iro/lecuyer/contactcenters/app/params/
doc/msk/umontreal/
doc/schemas/
.project

.idea/
contactcenters.iml
